body {
	
	font-family: Arial, sans-serif;
	background-color: #f4f4f4;
	margin: 0;
	padding: 0;
	text-align: center;
}

p {

	font-weight: bold;
	border-width:1px 1px 1px 1px;
	border-style:solid;
	border-color:black;
	padding:0px;

}

legend {

	color: red;
	text-decoration: underline;
	font-weight: bold;

}

h2,h3 {

	text-decoration: underline;
	font-family: fantasy;
	text-align: center;
	text-shadow: 2px 1px yellow;

}

h1 {

	font-family: fantasy;
	color: darkred;
}